.main__title {
  font-size: 32px;
  line-height: 34px;
  text-align: left;
  margin-bottom: 0;
}
.main__seeAll {
  text-align: right;
  color: black;
  margin-bottom: 24px;
}
.main__seeAll a {
  color: black;
  text-decoration: none;
}
.explore__title {
  margin-bottom: 24px;
}
.explore__columns {
  display: flex;
  flex-wrap: wrap;
  column-gap: 36px;
}

.explore__columns__column {
  display: flex;
  column-gap: 38px;
  border: 1px solid #cccccc;
  border-radius: 5px;
}

.columns__title {
  font-size: 17px;
  line-height: 20px;
  text-align: left;
  padding-right: 212px;
  padding-top: 10px;
}

.explore__columns__column img {
  width: 96px;
  height: 72px;
}

.columns__column_img {
  margin-bottom: 8px;
}
.experiences_img img {
  width: 220px;
  height: 320px;
}
.columns__column_price {
  text-align: start;
  margin-bottom: 6px;
}

.columns__column_rating {
  text-align: start;
}
.columns__column_star {
  display: inline-block;
  margin-right: 8px;
}
.columns__column_star img {
  margin-right: 4px;
}
.columns__column_star img:last-child {
  margin-right: 0;
}

/*Homes*/
.homes_img img {
  height: 204px;
  width: 310px;
}

.home__price span {
  font-weight: bold;
}
.homes__columns {
  column-gap: 36px;
}

/*popular*/
.popular__columns {
  column-gap: 50px;
}
.popular_img img {
  width: 229px;
  height: 164px;
}
.popular__price h5 {
  display: block;
  font-weight: bold;
}
.popular__price span {
  font-weight: 400;
  color: #808080;
}

/*featured*/
.featured {
  margin-bottom: 64px;
}
.featured::after {
  content: "";
  display: block;
  width: 88%;
  position: absolute;
  border-bottom: 1px solid #808080;
  margin-top: 64px;
}
.featured__title {
  margin-bottom: 24px;
}

.featured_img img {
  height: 220px;
  width: 147px;
}
.featured__columns {
  column-gap: 24px;
}
.featured__column_title {
  margin: 0;
  text-align: left;
}
