@font-face {
  font-family: "Circular Air";
  src: local("CircularAir"), url("./fonts/circular-air-bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Circular Air";
  src: local("CircularAir"), url(".//fonts/circular-air-light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Circular Air";
  src: local("CircularAir"), url(".//fonts/circular-air-book.ttf");
  font-weight: 400;
}

body {
  margin: 0;
  color: #383838;
  font-size: 16px;
  line-height: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Circular Air";
}
