.footer_left {
  padding: 0px 160px 0px 90px;
}
.footer__content {
  display: flex;
  padding: 48px 0px 75px 0px;
}

.footer_right {
  display: flex;
}
.footer__airbnb {
  margin-right: 200px;
}
.footer_nav {
  margin: 0;
  padding: 0;
}
.footer_title {
  margin: 0;
  margin-bottom: 16px;
  color: #383838;
}

.footer_nav li {
  list-style: none;
}
.footer_nav li a {
  text-decoration: none;
  color: #636363;
  font-size: 15px;
  line-height: 18px;
}

.footer__language {
  margin-bottom: 20px;
}

.footer_select {
  width: 250px;
  height: 48px;
}
.footer__links {
  padding-bottom: 10px;
  display: flex;
  column-gap: 960px;
}
.footer__links_left {
  display: block;
}
.footer__links_left img {
  margin-right: 10px;
}

.footer__links_right {
}
.footer__links_right ul {
  margin: 0;
  padding: 0;
  padding: 4px 0px 0px 0px;
}
.footer__links_right li {
  list-style: none;
  display: inline-block;
  margin-right: 20px;
}

.footer__links_right li:last-child {
  margin-right: 0;
}
.footer__links_right li a {
  color: black;
  text-decoration: none;
}
.footer__links_right li {
  height: 24px;
}
.footer__links_right li img {
}

/* 
<div className="footer__links_right">
            <ul>
              <li>
                <a href="#">Terms</a>
              </li>
              <li>
                <a href="#">Privacy</a>
              </li>
              <li>
                <a href="#">Site map</a>
              </li>
            </ul>
          </div> */
